
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    nav ul.show {
        display: flex;
    }

    nav li {
        width: 100%;
        text-align: left;
    }

    nav a {
        padding: 14px;
        border-bottom: 1px solid #575757;
    }

    nav a:last-child {
        border-bottom: none;
    }

    .menu-toggle {
        display: block;
        background-color: #333;
        color: #9248d3;
        padding: 14px;
        text-align: center;
        cursor: pointer;
    }
}